#
# PTP4L configuration with popcorn spike filter enabled.
#
# Usage (as PTP client):
#   sudo ptp4l -i <interface> -f configs/popcorn_filter.cfg -s
#
# To observe filter behavior, run with elevated debug logging:
#   sudo ptp4l -i <interface> -f configs/popcorn_filter.cfg -s -m -l 7
#
# Look for messages like:
#   "popcorn filter: spike suppressed (XXXX ns)"
#
[global]
#
# Default Data Set
#
twoStepFlag		1
clientOnly		0
socket_priority		0
priority1		128
priority2		128
domainNumber		0
#
# Port Data Set
#
logAnnounceInterval	1
logSyncInterval		0
logMinDelayReqInterval	0
#
# Popcorn Spike Filter
#
# popcorn_spike_filter: 1 = enabled, 0 = disabled
# popcorn_spike_gate: multiplier for jitter threshold (default 3)
#   Lower values = more aggressive filtering (rejects smaller deviations)
#   Higher values = less aggressive (only rejects extreme spikes)
#
popcorn_spike_filter	1
popcorn_spike_gate	3
#
# Run time options
#
summary_interval	0
